body {
  background-image: url("background-bread.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

 .ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

.para {
    font-size: 16px
}



h5 {
    font-weight: 400
}



#valuebox{

    width: 50px;
}

#tocenter{
    text-align: center;
    margin: 0 auto;
}


/* --------------------------------- */

/*-----Jumbotron Heading-----*/
.jumbotron {
    background-color: #8FBC8F;
    color: white;
}


/*-----Navigation Bar-----*/
.navbar-custom {
    background-color: #F5F5F5;
}


/*-----Navigation Bar Links-----*/
a.navbar-brand:link, a.navbar-brand:visited {
    color: #8FBC8F;
}

a.navbar-brand:hover, a.navbar-brand:active {
    color: #F5F5F5;
}

a.dropdown-toggle:link, a.dropdown-toggle:visited {
    color:#8FBC8F;
}

a:link, a:visited {
    color: #8FBC8F;
}

a.link:hover, a.link:active {
    background-color: white;
}

/*-----Drop Down Menu Links-----*/
a.drop-item:link, a.drop-item:visited {
    color: #8FBC8F;
}


/*-----Footer-----*/
.footer {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8FBC8F;
    color: #373737;
    border: 1px #8FBC8F;
}
