

.form-control{

  width: 50%;

}

.postal{

  width: 100%;

}
.title{
  background-color: white;
  width: 100%;
  height: 100px;
}

h4{
  vertical-align: middle; 
  line-height: 4.25;
  
}


/* .card:hover{
      
    transform: scale(1.1);
} */

.card .read-more:hover{
    font-size: 14px;
}

/* body {
    background: #eee
} */

/*-----Navigation Bar-----*/
.navbar-custom {
    background-color: #F5F5F5;
}


/*-----Navigation Bar Links-----*/
a.navbar-brand:link, a.navbar-brand:visited {
    color: #8FBC8F;
}

a.navbar-brand:hover, a.navbar-brand:active {
    color: #F5F5F5;
}

a.dropdown-toggle:link, a.dropdown-toggle:visited {
    color:#8FBC8F;
}

a:link, a:visited {
    color: #8FBC8F;
}

a.link:hover, a.link:active {
    background-color: white;
}
    
/*-----Drop Down Menu Links-----*/
a.drop-item:link, a.drop-item:visited {
    color: #8FBC8F;
}


/*-----Footer-----*/
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
	margin-top: 20;
	margin-bottom:0;
    background-color: #F5F5F5;
    color: #8FBC8F !important;
}

table {
    width: 100%;
}

td {
    padding-left: 5px;
    height: 25px;
}
th {
    padding-bottom: 0;
    padding-left: 5px;
    text-align: left;
}


