/*-----Background Image-----*/
#homepage-body {
    background-image: url(https://images.unsplash.com/photo-1581515286348-98549702050f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*-----Jumbotron Heading-----*/
.jumbotron {
    background-color: #8FBC8F;
    color: white;
}


/*-----Navigation Bar-----*/
.navbar-custom {
    background-color: #F5F5F5;
}


/*-----Navigation Bar Links-----*/
a.navbar-brand:link, a.navbar-brand:visited {
    color: #8FBC8F;
}

a.navbar-brand:hover, a.navbar-brand:active {
    color: #F5F5F5;
}

a.dropdown-toggle:link, a.dropdown-toggle:visited {
    color:#8FBC8F;
}

a:link, a:visited {
    color: #8FBC8F;
}

a.link:hover, a.link:active {
    background-color: white;
}
    
/*-----Drop Down Menu Links-----*/
a.drop-item:link, a.drop-item:visited {
    color: #8FBC8F;
}


/*-----Footer-----*/
#special-footer {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8FBC8F;
    color: #373737;
}

#homepage-footer {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8FBC8F;
    color: #373737;
}

.footer {

    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8FBC8F;
    color: #373737;
}
